<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">

    {% seo %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145437110-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145437110-1');
    </script>

    {% include styling.html %}
    <link rel="icon" href="{{ site.url }}/assets/images/co_logo.png_small" type="image/x-icon"/>
    <link rel="shortcut-icon" href="{{ site.url }}/assets/images/co_logo_small.png" type="image/x-icon">

    <title>JLRoofing</title>

<!-- ADD WEBSITE DESCRIPTION -->
<!--    <meta name="description" contents="" /> -->

  </head>

  <body>
    <a name=#top></a>
    <header>

      {% if page.url == "/404.html" %}
          <meta http-equiv="refresh" content="3; url=https://jlroofs.github.io">
      {% endif %}

      <div class="container" id="404_header">
        {% if page.url == "/404.html" %}
          <big><big><big><p style="text-align: center;">404</p></big></big></big>
        {% else %}
          <div style="column-count: 2;">
            <img src="{{site.url}}/assets/images/co_logo.png" alt="co_logo" style="height: 350px; width: 600px;">
            <img src="{{site.url}}/assets/images/UnderConstruction.png" style="padding: 0 0 0 100px; height: 150px; width: 250px;"/>
          </div>
        {% endif %}

<!--
    	  <section id="navi">
          <div style="float: center; padding: 0 75px 0 75px;">
            <a href="{{site.url}}" style="padding: 0 10px 0 0;">Home</a>
            <a href="{{site.url}}/about.html" style="padding: 0 10px 0 0;">About Us</a>
            <a href="{{site.url}}/past_projects.html" style="padding: 0 10px 0 0;">Past Projects</a>
            <a href="{{site.url}}/contact.html" style="float: right; text-align: center; border-style: dotted;">Contact Us</a>
          </div>
        </section>
-->
      </div>

    </header>
<hr style="clear: both;">
    <div class="container">
      <section id="main_content">
        {% include sidebar.html %}
        <div style="padding: 0 0 0 200px;">
          {{ content }}
        </div>
      </section>
    </div>

    {% if page.default_footer %}
      {% include default_footer.html %}
    {% endif %}
  </body>
</html>
